<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  

<bean id = "q1" class = "Question">
<property name = "id"><value>111</value></property>
<property name = "ques"><value>What is Java?</value></property>
<property name = "answers">
<list><value>Java is Programming language.</value>
<value>Java is based on OOPs.</value>
<value>Javascript is based on Java.</value>
<value>Java is an island.</value></list>
</property>
</bean>

<bean id = "q2" class = "Question">
<property name = "id"><value>112</value></property>
<property name = "ques"><value>What is Spring in Java?</value></property>
<property name = "answers">
<list><value>Spring is a framework of Java.</value>
<value>Using Spring, We can create web based applications.</value>
<value>Spring is lightweight framework.</value>
<value>The Spring applications are loosely coupled because of dependency injection.</value></list>
</property>
</bean>

</beans>